CompileFlags:
  CompilationDatabase: src/boards/fcu/CM7/build

---

If:
  PathMatch: (src/boards/ecu/.*|src/app/logic/ecu/.*)
CompileFlags:
  CompilationDatabase: src/boards/ecu/CM7/build

---

CompileFlags:
  CompilationDatabase: src/boards/ecu/CM7/build
If:
  PathMatch: src/boards/ecu/.*

---

CompileFlags:
  CompilationDatabase: src/boards/fcu/CM7/build
If:
  PathMatch: src/boards/fcu/.*
